<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Guide</title>
  <link rel="stylesheet" href="../static/guide.css">
</head>

<body>
  <div class="container">
    <h1 class="heading"><span>meet</span> Our Guide</h1>

    <div class="profiles">
      <div class="profile">
        <img src="../static/guideProfile.jpg" class="profile-img">

        <h3 class="user-name">Prof. Anil Kadu</h3>
        <h5>Assistant Professor</h5>
        <p>Assistant Professor and Internship and placement coordinator at Vishwakarma Institute Of Technology.</p>
        <p><a href="https://www.linkedin.com/in/anil-kadu-113015159/">Visit my linkedin profile!</a></p>
      </div>
      </div>
    </div>
</body>
</html>